<div class="container">
  <div class="row">
  <div class="col-lg-3"></div>
    <div class="col-lg-7">
      <table class="table">
        <thead class="table-head text-white bg-secondary">
          <tr>
            <th width= 20% class="text-center">順位</th>
            <th width= 40% class="rank-user-name">ユーザー名</th>
            <th width= 30% class="text-center">継続日数</th>
            <th width= 10% class="text-center"></th>
          </tr>
        </thead>
        <tbody>
            <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>