$sub-color-third: #ccc;
$sub-color-fourth: #000000;

.show-user-image {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  border-style: none;
  margin: 0px;
  object-fit:cover;
  border: 1px solid $sub-color-third;
  margin-right:10px;
  box-shadow: 0 2px 2px 0 $sub-color-fourth;
  border: 2px solid $sub-color-third;
  background-color: $sub-color-third;
}

td {
  height: 150px;
}

.rank-info {
  font-size: 40px;
}

.rank-info-continue {
  font-size: 20px;
}

.user-name-diplays a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 120px;
}

.rank-header {
  background: #f4f4f4;
}

@media only screen and (max-width:767px) {
  .rank-info {
    font-size: 30px;
  }

  .show-user-image {
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .user-name-diplays {
    text-align: center;

    a {
    width: 100px;
    margin-top: 15px;
    }
  }

  .rank-user-name {
    text-align: center;
  }
}

