$theme-color: #6a318f;
$sub-color: #fb0050;
$sub-color-second: #FFF;
$sub-color-fourth: #000000;

.top-page-message {
  background-color: $theme-color;
  color: $sub-color-second;
  font-size: 45px;
  padding :30px;
  position: relative; 
  right: 140px;
}

@media only screen and (max-width:767px) {
  .top-page h1 {
    font-size: 25px;
    right: 10px;
    bottom: 80px;
  }

  h2, h3{
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  .start-button {
    right: 0px;
  }

  .top-page-message {
    left: 10px;
    padding: 25px;
  }

  .top-page-button {
    width: 45% !important;
    font-size: 20px !important;
    padding: 10px !important;
  }

  .start-button {
    left: 0px;
    bottom: 80px;
  }

  .top-page-image {
    bottom: 40px;
  }
}

.top-detail {
  background-color: $theme-color;
}

.service-description {
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-detail-description {
  position: relative;
  padding: 1.5em 1em 3.5em 1em;
  border-radius: 8px;
  height:250px;
  margin: 2em 0;
  font-weight: bold;
  color: $sub-color-fourth;
  background: $sub-color-second;
  border-radius: 10px;

  h4 {
  color: $theme-color;
  }

  p {
  margin: 0; 
  padding: 0;
  }
}

.fa-check {
  background-color: $sub-color;
  color:#f4f4f4;
}

.top-page-style {
  height: 780px;
  padding-top:100px;
}

.start-button {
  position: relative;
  right: 150px;
}

.other-service {
  margin-top: 100px;
  margin-bottom: 100px;
}