@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'rouge';
@import "navbar";
@import "users";
@import "rank";
@import "post";
@import "top";

$theme-color: #6a318f;
$sub-color: #fb0050;
$sub-color-third: #ccc;
$sub-color-fourth: #000000;

.fa {
  font-weight:400;
  display: inline-block !important;
  line-height:1;
}

// ログイン画面、アカウント登録、ユーザ情報編集
.btn-info {
  display: inline-block;
  border-radius: 30px;
  background-color: $sub-color;
  border: none;
  text-align: center;
  margin: 15px 15px 15px auto;
  box-shadow: 0 2px 2px 0 $sub-color-fourth
}

.form-style .form-title {
  border: solid 1px $sub-color-third;
  padding: 10px;
  border-top: solid 2px $theme-color;
}

.form-style {
  margin-top: 30px;
  box-shadow: 0 2px 2px 0 gray;
  padding: 0px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-style .form-content {
  border: solid 1px $sub-color-third;
  padding: 30px;
}

.actions {
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  border-radius: 30px;
  background-color: $theme-color;
  border: none;
  box-shadow: 0 2px 2px 0 $sub-color-fourth
}

// フラッシュ
.flash-style {
  margin-top: 30px;
}

// ニュース機能
.posted_day {
  font-size: 18px;
  color: rgba(0,0,0,0.6);
  line-height: 1.8;
}

.link_under_none_post {
  text-decoration: none !important;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  line-height: 1.5;
}

// サービス利用開始ボタン
.top-page-button {
  display: inline-block;
  border-radius: 30px;
  width: 250px;
  font-size: 25px;
  margin: 15px 20px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 $sub-color-fourth
}

.top-page-button-head {
  display: inline-block;
  border-radius: 30px;
  width: 250px;
  font-size: 25px;
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 $sub-color-fourth
}